*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* optional font */
:root{
  font-size: 18px;
}

body{
  font-family: Roboto, monospace;
}

.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.aside, .header, .main {
  border: 1px solid white;
}

.aside{
  background-color: rgb(200, 153, 153);
  grid-column: 1 / 2;
  grid-row: 1 / 4; 
  display: grid;
  gap: 20px;
}
.aside ul{
  list-style-type: none;
  border: 2px solid;
  text-align: left;
}

.header{
  grid-area: 1 / 2 / 2 / 3;
  padding: 0px 0px 1rem 0px;
  box-shadow: 2px 1px 20px 0px #0000002b;
  z-index: 1;
}
.header > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .profile-bar div:first-child{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0rem 1rem;
}
.user-info-field > img{
  grid-area: 1 / 1 / 3 / 2 ;
}
.search-bar div{
  display: flex;
  padding: 1.5rem 2.5rem;   
}
.search-bar div:first-child{
  width: 65%;
  gap: 1rem;
}
.search-bar div:nth-child(2){
  gap: 1rem;
}
.search-bar div:first-child input{
  width: 100%;
  height: 2.2rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: #f0f0f3;
}
.search-bar div p {
  align-self: center;
  font-weight: bold;
  font-size: 1.25rem;
}
.profile-bar{
  padding: 0px 2.5rem;
}
.profile-bar > div p {
  justify-self: start;
  align-self: end;
}
.head-buttons button{
  border: none;
  border-radius: 50px;
  color: white;
  background-color: #343434;
  padding: .7rem 2rem;
  margin: 0px .5rem;
  font-size: 1rem;
}

.main{
  background-color: rgb(226, 226, 226);
  grid-area: 2 / 2 / 4 / 3; 
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.5rem;
  padding: 2rem 1.5rem 2rem .9rem;
}
main .article-group{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
}
.article-group article{
  /* height: 240px; */
  padding: 1.5rem 1rem ;
  background-color: white;
  border-radius: 8px;
  border-left: 10px solid #ffc601; 
  box-shadow: 2px 3px 1px 0px #8989894a;
  display: grid;
  grid-template-rows: 1fr 5fr;
}
.article-group article p:first-child{
  font-size: 1.3rem;
  align-self: end;
}
.article-group article p:nth-child(2){
  color: grey;
  max-width: 40ch;
}
.article-group article > div{
  display: flex;
  justify-content: end;
  gap: 1.2rem;
}
main .project-articles{
  grid-row: span 2;
  /* padding: 15px; */
}
.project-articles > p, 
.announce-article > p, 
.trending-article > p{
  text-align: left;
  font-size: 1.3rem;
  padding: 0 0 .5rem 0;
} 

/* .announce-article{
  padding: 15px;
} */
.announce-article article,
.trending-article article{
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 3px 1px 0px #8989894a;
  padding: 2rem 2rem ;
  font-size: 1rem;
  display: grid;
  gap: 1rem;
}
.announce-article article div p{
  color: grey;
  font-size: .8rem;
  max-width: 30ch;
}

.trending-article article{
  padding: 1.5rem 2rem ;
}
.trending-article article div{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0rem 0.5rem;
}
.trending-article article div img{
  grid-area: 1 / 1 / 3 / 2;
  background-color: #80808091;
  border-radius: 100px;
  height: 50px;
  width: 50px;
}
.trending-article article div p:last-child{
  font-size: .9rem;
  color: grey;
}