*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* optional font */
:root{
  font-size: 18px;
}

body{
  font-family: Roboto, monospace;
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.aside, .header, .main {
  border: 1px solid white;
}

.aside{
  background-color: rgb(255, 156, 156);
  grid-column: 1 / 2;
  grid-row: 1 / 4; 
  display: grid;
  gap: 20px;
}
.aside ul{
  list-style-type: none;
  border: 2px solid;
  text-align: left;
}

.header{
  grid-area: 1 / 2 / 2 / 3;
  padding: 0px 0px 1rem 0px;
  box-shadow: 2px 1px 20px 0px #0000002b;
  z-index: 1;
}
.header > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .profile-bar div:first-child{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0rem 1rem;
}
.user-info-field > img{
  grid-area: 1 / 1 / 3 / 2 ;
}
.search-bar div{
  display: flex;
  padding: 1.5rem 2.5rem;   
}
.search-bar div:first-child{
  width: 65%;
  gap: 1rem;
}
.search-bar div:nth-child(2){
  gap: 1rem;
}
.search-bar div:first-child input{
  width: 100%;
  height: 2.2rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: #f0f0f3;
}
.search-bar div p {
  align-self: center;
  font-weight: bold;
  font-size: 1.25rem;
}
.profile-bar{
  padding: 0px 2.5rem;
}
.profile-bar > div p {
  justify-self: start;
  align-self: end;
}
.head-buttons button{
  border: none;
  border-radius: 50px;
  color: white;
  background-color: #343434;
  padding: .7rem 2rem;
  margin: 0px .5rem;
  font-size: 1rem;
}

.main{
  background-color: rgb(226, 226, 226);
  grid-area: 2 / 2 / 4 / 3; 
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
  padding: 15px;
}
main .article-group{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 15px;
  padding: 15px;
}
main .project-articles{
  grid-row: span 2;
}
.article-group article{
  height: 200px;
}
