*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
  background: grey;
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.aside, .header, .main {
  border: 1px solid white;
}

.aside{
  grid-column: 1 / 2;
  grid-row: 1 / 4; 
  display: grid;
  gap: 20px;
}
.aside ul{
  list-style-type: none;
  border: 2px solid;
  text-align: left;
}

.header{
  grid-area: 1 / 2 / 2 / 3;
}
.header > div{
  display: flex;
  justify-content: space-evenly;
}
.header .profile-bar div:first-child{
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.user-info-field > i{
  grid-area: 1 / 1 / 3 / 2 ;
}

.main{
  grid-area: 2 / 2 / 4 / 3; 
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
  padding: 15px;
}
main .article-group{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 15px;
  padding: 15px;
}
main .project-articles{
  grid-row: span 2;
}
.article-group article{
  height: 200px;
}
